<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawer.mapper.CaseMapper">

    <insert id="addCase">
      insert into anjian(
      Id,name,content,money,rtime,fstatus,lawerid,jstatus,p_status,filelist,business_id)
      values(#{map.id},#{map.name},#{map.content},#{map.money},#{map.rtime},#{map.fstatus},#{map.mainp},
      #{map.jstatus},#{map.p_status},#{map.filelist},#{map.busId})
    </insert>

    <!-- 根据案件ID查询案件包含的文件路径信息 -->
    <select id="getFileAll" resultType="com.lawer.pojo.CaseFile" parameterType="String">
		select fileid,filename,url,createTime,caseId,filetype,upId from file where caseId=#{caseId}
	</select>

    <!-- 根据案件ID删除对应的文件信息 -->
    <delete id="deleteFileById"  parameterType="String">
		delete from file where fileid =#{fileid}
	</delete>





</mapper>