<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawer.mapper.CaseMapper">

    <insert id="addCase">
      insert into anjian(
      Id,name,content,money,cusname,cus_telphone,rtime,fstatus,lawerid,jstatus,p_status,filelist,business_id,cid,cname)
      values(#{map.id},#{map.name},#{map.content},#{map.money},#{map.cusname},#{map.cus_telphone},#{map.rtime},#{map.fstatus},#{map.mainp},
      #{map.jstatus},#{map.p_status},#{map.filelist},#{map.busId},#{map.cid},#{map.cname})
    </insert>

    <!-- 根据案件ID查询案件包含的文件路径信息 -->
    <select id="getFileAll" resultType="com.lawer.pojo.CaseFile" parameterType="String">
		select fileid,filename,url,createTime,caseId,filetype,upId from file where caseId=#{caseId}
	</select>

    <!-- 根据文件ID，查询对应的文件 -->
    <select id="getFileById" resultType="com.lawer.pojo.CaseFile" parameterType="String">
		select * from file where fileid=#{fileid}
	</select>

    <!-- 根据案件ID删除对应的文件信息 -->
    <delete id="deleteFileById"  parameterType="String">
		delete from file where fileid =#{fileid}
	</delete>

    <insert id="addMessage" parameterType="com.lawer.pojo.Message">
      insert into message(
        Id,sender,receiver,info,sendTime,isRead)
      values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.sender},#{item.receiver},#{item.info},#{item.sendTime},#{item.isRead})
        </foreach>
    </insert>

    <!-- 根据案件ID查询案件信息 -->
    <select id="getCaseInfo" resultType="Map" parameterType="String">
		select * from anjian where Id=#{caseId}
	</select>

    <!-- 根据案件ID查询补充案件信息 -->
    <select id="getCaseInfoAssist" resultType="Map" parameterType="String">
		select * from anjian_assist where Id=#{caseId}
	</select>

    <update id="updateCaseInfo" >
        update anjian
        <set>
            <if test="map.resultContent != null "> resultContent = #{map.resultContent},</if>
            <if test="map.jstatus != null "> jstatus = #{map.jstatus, jdbcType=VARCHAR},</if>
            <if test="map.p_status != null "> p_status = #{map.p_status, jdbcType=VARCHAR},</if>
        </set>
        where Id=#{map.id}
    </update>

    <!--    设置案件小组-->
    <insert id="setCaseGroup" >
        insert into casegroup(
        Id,caseId,createTime,member1,member2,member3,member4)
        values
            (#{map.id},#{map.caseId},#{map.time},#{map.member1},#{map.member2},#{map.member3},#{map.member4})

    </insert>


    <!--获取案件小组-->
    <select id="getCaseGroup" resultType="Map" parameterType="String">
		select * from casegroup where caseId=#{caseId}
	</select>

    <insert id="putCaseVersion" >
        insert into indictment(
        Id,caseId,writerId,helperId,version)
        values (#{map.id},#{map.caseId},#{map.writerId},#{map.helperId},#{map.version})
    </insert>



    <update id="updateCaseVersionInfo" >
        update indictment
        <set>
            <if test="map.message != null  "> message = #{map.message, jdbcType=VARCHAR},</if>
            <if test="map.state != null "> state = #{map.state, jdbcType=VARCHAR},</if>
            <if test="map.idear != null "> idear = #{map.idear, jdbcType=VARCHAR},</if>
        </set>
        where caseId=#{map.caseId}   and helperId=#{map.helperId} and version=#{map.version}
    </update>

    <!-- 根据案件ID查询案件版本信息 -->
    <select id="getCaseVersionInfo" resultType="com.lawer.pojo.Indictment" parameterType="String">
		select * from indictment where caseId=#{caseId} order by version
	</select>



    <!-- 根据案件ID查询案件版本信息 -->
    <select id="getCaseMaxVersion" resultType="com.lawer.pojo.Indictment" parameterType="String">
		select * from indictment where
		    version=any(select max(version) from indictment where caseId=#{caseId})
		    and caseId=#{caseId}
	</select>

    <insert id="addAnjianAssist" parameterType="String">
        insert into anjian_assist(Id)
        values (#{caseId})
    </insert>

    <update id="updateAnjianAssist" >
        update anjian_assist
        <set>
            <if test="map.lian_info != null and map.lian_info !='' "> lian_info = #{map.lian_info},</if>
            <if test="map.lian_faguan != null and map.lian_faguan !=''"> lian_faguan = #{map.lian_faguan, jdbcType=VARCHAR},</if>
            <if test="map.lian_number != null and map.lian_number !='' "> lian_number = #{map.lian_number, jdbcType=VARCHAR},</if>
            <if test="map.lian_didian != null and map.lian_didian != '' "> lian_didian = #{map.lian_didian, jdbcType=VARCHAR},</if>
            <if test="map.lian_timestart != null and map.lian_timestart != '' "> lian_timestart = #{map.lian_timestart, jdbcType=VARCHAR},</if>
            <if test="map.lian_timeend != null and map.lian_timeend != '' "> lian_timeend = #{map.lian_timeend, jdbcType=VARCHAR},</if>
            <if test="map.kt_info != null and map.kt_info != '' "> kt_info = #{map.kt_info, jdbcType=VARCHAR},</if>
            <if test="map.kt_timestart != null and map.kt_timestart != '' "> kt_timestart = #{map.kt_timestart, jdbcType=VARCHAR},</if>
            <if test="map.kt_timeend != null and map.kt_timeend != '' "> kt_timeend = #{map.kt_timeend, jdbcType=VARCHAR},</if>
            <if test="map.ts_info != null and map.ts_info != '' "> ts_info = #{map.ts_info, jdbcType=VARCHAR},</if>
            <if test="map.ts_time != null and map.ts_time != '' "> ts_time = #{map.ts_time, jdbcType=VARCHAR},</if>
        </set>
        where Id=#{map.id}
    </update>


</mapper>