<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
    <meta name="renderer" content="webkit">
    <!--国产浏览器高速模式-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>案件登记</title>

    <!-- 公共样式 开始 -->
    <link rel="stylesheet" type="text/css" href="/css/model/base.css">
    <link rel="stylesheet" type="text/css" href="/css/model/iconfont.css">
    <script type="text/javascript" src="/framework/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <script type="text/javascript" src="/layui/layui.js"></script>
    <!-- 滚动条插件 -->
    <link rel="stylesheet" type="text/css" href="/css/model/jquery.mCustomScrollbar.css">
    <script src="/framework/jquery-ui-1.10.4.min.js"></script>
    <script src="/framework/jquery.mousewheel.min.js"></script>
    <script src="/framework/jquery.mCustomScrollbar.min.js"></script>
    <script src="/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
    <!-- 公共样式 结束 -->
    <script src="/js/home.js"></script>
    <script src="/js/addcase.js"></script>
    <style>
        .layui-form{
            margin-right: 30%;
        }
        .layui-form-label{
            width: 100px;
        }
        .layui-input-block{
            margin-left: 130px;
        }
    </style>

</head>

<body>
<div class="cBody">
    <form id="addForm" class="layui-form" >
        <div class="layui-form-item">
            <label class="layui-form-label">案件名称</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="name" required  placeholder="请输入案件名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">拟定金额</label>

            <div class="layui-col-xs2">
                <input type="number" name="money" required   placeholder="请输入拟定金额" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-col-xs1">
                <div class="layui-btn " style="height: 35px;line-height: 35px;border: 1px solid #dcdfe6;background-color: #f5f7fa;margin-left: -1px;color:black" >元</div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">案件详情</label>
            <div class="layui-input-block">
                <textarea id="editor" required style="display: none;" name="content"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">申述人姓名</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="cusname" required  placeholder="请输入申述人姓名" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">申述人联系方式</label>
            <div class="layui-input-inline shortInput">
                <input type="text" name="cus_telphone" required  placeholder="请输入申述人联系方式" onkeyup="this.value=this.value.replace(/[^0-9]+/,'');" maxlength=11 autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">负责人</label>
            <div class="layui-input-inline">
                <select name="mainp" id="mainp" required lay-filter="mainp">
                    <option value=""></option>
                </select>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submitBut">立即提交</button>
<!--                <button type="reset" id="reset" class="layui-btn layui-btn-primary">重置</button>-->

            </div>
        </div>
    </form>

</div>
</body>

</html>