<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
    <meta name="renderer" content="webkit">
    <!--国产浏览器高速模式-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>员工信息</title>

    <!-- 公共样式 开始 -->
    <link rel="stylesheet" type="text/css" href="/css/model/base.css">
    <link rel="stylesheet" type="text/css" href="/css/model/iconfont.css">
    <script type="text/javascript" src="/framework/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <script type="text/javascript" src="/layui/layui.js"></script>
    <!-- 滚动条插件 -->
    <link rel="stylesheet" type="text/css" href="/css/model/jquery.mCustomScrollbar.css">
    <script src="/framework/jquery-ui-1.10.4.min.js"></script>
    <script src="/framework/jquery.mousewheel.min.js"></script>
    <script src="/framework/jquery.mCustomScrollbar.min.js"></script>
    <script src="/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
    <!-- 公共样式 结束 -->
    <script src="/js/home.js"></script>
    <script src="/js/allpeople.js"></script>

</head>

<body>
<div class="cBody">
    <div class="console">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 60px">员工信息</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" required placeholder="输入员工名称或联系方式" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label" style="width: 60px">职称</label>
                <div class="layui-input-inline">
                    <select name="position" id="position" lay-filter="position">
                        <option value="">全部</option>
                        <option value="0">初级律师</option>
                        <option value="1">中级律师</option>
                        <option value="2">高级律师</option>
                    </select>
                </div>

                <button class="layui-btn" lay-submit lay-filter="submit">检索</button>
            </div>
        </form>
    </div>
    <div class="tablearea">
        <table class="layui-table" id="saleTable" lay-filter="saleTable"></table>
        <script type="text/html" id="bianjikuang">
            <div class="oper-tab">
                <a lay-event="edit" class="hover-blue">编辑</a>
                <a lay-event="delete" class="hover-blue">删除</a>
            </div>
        </script>
    </div>

</div>
</body>

</html>