<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
    <meta name="renderer" content="webkit">
    <!--国产浏览器高速模式-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 作者 -->
    <meta name="author" content="穷在闹市" />
    <!-- 定义页面的最新版本 -->
    <meta name="revised" content="穷在闹市.v3, 2019/05/01" />
    <!-- 网站简介 -->
    <meta name="description" content="网站简介" />
    <meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />

    <title>案件执行进度</title>

    <!-- 公共样式 开始 -->
    <link rel="stylesheet" type="text/css" href="/css/model/base.css">
    <link rel="stylesheet" type="text/css" href="/css/model/iconfont.css">
    <script type="text/javascript" src="/framework/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/layui/layui.js"></script>
    <!-- 滚动条插件 -->
    <link rel="stylesheet" type="text/css" href="../../css/model/jquery.mCustomScrollbar.css">
    <script src="../../framework/jquery-ui-1.10.4.min.js"></script>
    <script src="../../framework/jquery.mousewheel.min.js"></script>
    <script src="../../framework/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
    <!-- 公共样式 结束 -->
    <link rel="stylesheet" type="text/css" src="../../elementui/css/elementui.css">


</head>

<body>

    <div id="app" class="cBody">



    </div>
    <!--app结束 -->

    <!--本页的js文件 要放在最后，因为vue是挂在div后边的，要先加载div才能用vue -->
    <script type="text/javascript" src="/elementui/js/vue.js"></script>
    <script type="text/javascript" src="/elementui/js/elementui.js"></script>
    <script type="text/javascript" src="/elementui/js/axios.js"></script>
    <!--本页的JS文件 -->
    <script src="/pagejs/casePlan.js"></script>
    
    <script>

    	
    </script>
</body>

</html>