<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>律师办案协同系统</title>

		<!-- 公共样式 开始 -->
		<link rel="shortcut icon" href="/images/favicon.ico"/>
		<link rel="bookmark" href="/images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="/css/model/base.css">
		<link rel="stylesheet" type="text/css" href="/css/model/iconfont.css">
		<script type="text/javascript" src="/framework/jquery-1.11.3.min.js" ></script>
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
	    <!--[if lt IE 9]>
	      	<script src="/framework/html5shiv.min.js"></script>
	      	<script src="/framework/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript" src="/layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="/css/model/jquery.mCustomScrollbar.css">
		<script src="/framework/jquery-ui-1.10.4.min.js"></script>
		<script src="/framework/jquery.mousewheel.min.js"></script>
		<script src="/framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<link rel="stylesheet" type="text/css" href="/css/model/frameStyle.css">
		<script type="text/javascript" src="/framework/frame.js" ></script>
		
	</head>

	<body>
		<!-- 左侧菜单 - 开始 -->
		<div class="frameMenu">
		    <div class="logo">
		        <img src="/images/logo.png"/>
		        <div class="logoText">
		            <h1>律师办案协同系统</h1>
		            <p>CaseSystem</p>
		        </div>
		    </div>
		    <div class="menu">
		        <ul>
		        	<li>
		                <a class="menuFA" href="javascript:void(0)" onclick="menuCAClick('/page/addcase',this)"><i class="iconfont icon-zhishi left"></i>案件登记</a>
		            </li>

		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-liuliangyunpingtaitubiao03 left"></i>案件管理<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/page/allcase',this)">全部案件</a></dt>
							<dt><a href="javascript:void(0)" onclick="menuCAClick('/page/unfinishcase',this)">未完成案件</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/page/finishcase',this)">已结束案件</a></dt>
		                </dl>
		            </li>
		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-shangpin left"></i>用户管理<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/page/peopleinfo',this)">个人信息</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/page/allpeople',this)">员工信息</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/page/addpeople',this)">添加员工</a></dt>
		                </dl>
		            </li>
		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-yunying left"></i>日志管理<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/page/loginrecord',this)">登录日志</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('/page/operaterecord',this)">操作日志</a></dt>
		                </dl>
		           	</li>

		        </ul>
		    </div>
		</div>
		<!-- 左侧菜单 - 结束 -->
		
		<div class="main">
			<!-- 头部栏 - 开始 -->
			<div class="frameTop">

				<div class="topMenu">
					<ul>
						<li><a href="javascript:void(0)" onclick="menuCAClick('/page/peopleinfo',this)"><i class="iconfont icon-yonghu1"></i>管理员</a></li>
						<li><a href="javascript:void(0)" onclick="menuCAClick('/page/modifyPassword',this)"><i class="iconfont icon-xiugaimima"></i>修改密码</a></li>
						<li><a href="/userCon/logout"><i class="iconfont icon-084tuichu"></i>注销</a></li>
					</ul>
				</div>
			</div>
			<!-- 头部栏 - 结束 -->
			
			<!-- 核心区域 - 开始 -->
			<div class="frameMain">
				<div class="title" id="frameMainTitle">
					<span><i class="iconfont icon-xianshiqi"></i>案件登记</span>
				</div>
				<div class="con">
					<iframe id="mainIframe" src="/page/addcase" scrolling="no"></iframe>
				</div>
			</div>
			<!-- 核心区域 - 结束 -->
		</div>
	</body>

</html>