<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
    <meta name="renderer" content="webkit">
    <!--国产浏览器高速模式-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>律师办案系统</title>

    <!-- 公共样式 开始 -->
    <link rel="stylesheet" type="text/css" href="../css/model/base.css">
    <link rel="stylesheet" type="text/css" href="../css/model/iconfont.css">
    <script type="text/javascript" src="../framework/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css">
    <script type="text/javascript" src="../layui/layui.js"></script>
    <!-- 滚动条插件 -->
    <link rel="stylesheet" type="text/css" href="../css/model/jquery.mCustomScrollbar.css">
    <script src="../framework/jquery-ui-1.10.4.min.js"></script>
    <script src="../framework/jquery.mousewheel.min.js"></script>
    <script src="../framework/jquery.mCustomScrollbar.min.js"></script>
    <script src="../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
    <!-- 公共样式 结束 -->
    <script src="/js/home.js"></script>
</head>

<body>
<div class="cBody">
    <form id="addForm" class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">原始密码</label>
            <div class="layui-input-inline shortInput">
                <input type="password" name="oldpassword" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>

            <div class="layui-input-inline shortInput">
                <input type="password" id="pwd" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <!-- 对号 -->
            <div class="layui-inline" style="margin-top: 10px">
                <i class="layui-icon" id="pri" style="color: green;font-weight: bolder;" hidden></i>
            </div>
            <!-- 错号 -->
            <div class="layui-inline"  style="margin-top: 10px;margin-left: -15px">
                <i class="layui-icon" id="pwr" style="color: red; font-weight: bolder;" hidden>ဆ</i>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认新密码</label>
            <div class="layui-input-inline shortInput">
                <input type="password" id="rpwd" name="password2" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <!-- 对号 -->
            <div class="layui-inline" style="margin-top: 10px">
                <i class="layui-icon" id="rpri" style="color: green;font-weight: bolder;" hidden></i>
            </div>
            <!-- 错号 -->
            <div class="layui-inline"  style="margin-top: 10px;margin-left: -15px">
                <i class="layui-icon" id="rpwr" style="color: red; font-weight: bolder;" hidden>ဆ</i>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submitBut">确认修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

    <script>
        layui.use(['form','layer'], function() {
            var form = layui.form;
            var layer = layui.layer;
            var i=1,t=1;
            // 为密码添加正则验证
            $('#pwd').blur(function() {
                var reg = /^[\w]{6,12}$/;
                if(!($('#pwd').val().match(reg))){

                    $('#pwr').removeAttr('hidden');
                    $('#pri').attr('hidden','hidden');
                    i=0;
                }else {
                    $('#pri').removeAttr('hidden');
                    $('#pwr').attr('hidden','hidden');
                    i=1;
                }
            });

            //验证两次密码是否一致
            $('#rpwd').blur(function() {
                if($('#pwd').val() != $('#rpwd').val()){
                    $('#rpwr').removeAttr('hidden');
                    $('#rpri').attr('hidden','hidden');
                    t=0;
                }else {
                    $('#rpri').removeAttr('hidden');
                    $('#rpwr').attr('hidden','hidden');
                    t=1;
                };
            });
            //监听提交
            form.on('submit(submitBut)', function(data) {

                if(i==0){
                    layer.msg("请检查密码格式是否正确");
                }else if(t==0){
                    layer.msg("新密码与确认密码不一致");
                }
                else{
                    $.ajax({
                        url:path+"/userCon/updatePs",
                        type:'post',
                        data:JSON.stringify(data.field),
                        contentType: "application/json",
                        dataType:'text',
                        success:function(data){
                            if (data == 0) {
                              layer.msg("原密码输入错误，修改失败");
                            } else if(data==1){
                              layer.msg("修改成功");
                                setTimeout(function(){
                                    location.href = path+"/page/peopleinfo";
                                    // menuCAClick("/page/unfinishcase",this)
                                },1000);
                            }else {
                                layer.msg("修改失败");
                            }

                        },
                        error:function (e) {
                            console.info("ssaas",e.status)
                            console.info("ssaas",e.statusText)
                        }

                    })

                }
                return false;
            });
        });
    </script>

</div>
</body>

</html>